body{
    background: rgb(128, 135, 128);
}
* {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
}
.post {
    margin: auto;
    border-radius: 10px;
    background-color: white;
    width: 500px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.header{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
span.text {
    height: 80%;
   width: 85%;
   align-self: flex-start;
   font-size: 1em;
   padding: 8px 10px 0px 10px;
}
